<!DOCTYPE html>

<html lang="en" class="no-js">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Host A Meeting | Talked</title>
<link rel="icon" type="image/x-icon" sizes="32x32" href="../images/TalkedLogo0.ico"/>

<link rel="stylesheet" href="../css/createroom.css" /> 
 <!--LOGO ICON-->
</head>
<body >
  <div class="logo"> 
    <a href="/home"><img src="../images/new-logo.png" href="#"></a>
  </div>

  <div class="container">
   
     
    <div class="box  host-box"><br>
      <div class="imgHost"></div>
      
      <div class="formHost">
        <h1>Host A Meeting</h1> 
        <br><br>
       <input type="text" id="roomName" placeholder="Room Name">
       <input type="button" id="generate" value ="Create Room" onclick="stringTohash()">
        <hr>
      <div id="output"></div> 
          </div>
      
      </div>
      <div class="space"></div> <!--SPACE LANG TO-->
        </div>
        

<script src="js/newroom.js"></script>

</body>
</html>