<!DOCTYPE html>

<html lang="en" class="no-js">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage | Talked</title>
  <link rel="icon" type="image/x-icon" sizes="32x32" href="../images/TalkedLogo0.ico"/>
<link rel="stylesheet" href="../css/home.css" />
</head>
<body >
  <div class="logo"> 
    <a href="/home"><img src="../images/new-logo.png" href="#"></a>
  </div>

    <div class="container">
      <div class="box">
        <img src="../images/hostroom-homephoto2.png"><br>
        <h1>Host A Meeting</h1> 
        <h3>Create a room for your meeting
        </h3>
        <a  href="/createroom" class="btnhost">Host</a>
          </div>
          <div class="box">
            <img src="../images/joinroom-homephoto1.png">
            <br> <br>
            <h1>Join To Meeting</h1> 
            <h3>Enter the Meeting ID to join the meeting.</h3>
            <a href="/joincall" class="btnjoin">Join</a>
              </div>   
      </div>
      
  <div class="space"></div> <!--SPACE LANG TO-->
     
</body>
</html>