<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Talked: A Video Conferencing Tool for Online Learning</title>
  <link rel="icon" type="image/x-icon" sizes="32x32" href="../images/TalkedLogo0.ico"/>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body class="has-animation">
  <div class="logo">
    <a href="/"><img src="../images/new-logo.png" href="/"></a>
  </div>
  <div class="home">
    <div class="formIndex">
    <h1>A Video Conferencing tool powered by WebRTC </h1>
    <h3>Have a more interactive online class discussions. Start Now and Host or Join a meeting for you class discussions, share your screen, make polls, word clouds and manymore! Click Start Now or Learn more for more info!</h3>
    <a class="SignInbtn" href="/home">Start Now</a>
    <a class="LearnMore" href="#WhatIsTalked">Learn More</a>
    </div>
   
  </div>
  <!--WHAT IS TALKED-->
  <div class="whatsTalked1" id="WhatIsTalked">
    <div class="description">
      <h1>What is TalkED?</h1>
      <p>Talked is a video conferencing tool powered by WebRTC. It is designed to provide a more interactive online class discussions with the use of polls for questions during discussions and word cloud for sharing insights about a certain topic. Share your screen for discussions or use whiteboard that is as if it’s a physical whiteboard like in the classroom setting and record your meetings with the consent of the participants so that students can playback the discussions.</p>
    </div>
    <div class="img-whatsTalked"><img src="../images/learnmore-photo1.png"></div>
  </div>

  <div class="bgImg">
  </div>
  <div class="whatsTalked2">
    
    <div class="description">
      <p>TalkED was made because online class discussions lacked interaction between the instructors and the students. The developers of TalkED were students who experienced having an online class and because of that, they knew and they researched what should be improved. This inspired them to create a video conferencing tool that has features that can make the students participate more.</p>
    </div>
    <div class="img-whatsTalked"><img src="../images/learnmore-photo2.png"></div>
    
  </div>

  <!--ABOUT US-->
  <div class="aboutUs">
  <div class="desc-AboutUs">
  <hr>
  <h1>About Us</h1>
  <p>TalkED was made because its developers were students and they are currently using a video conferencing tool for their online learning. They were inspired to make a tool for online learning where they added features that can help both students and professors for their online discussions.They aimed to provide a more interactive and lively discussions while also having a interface that is easy to use and is accessible in pc and mobile.</p>
  </div></div>

  <!---FEATURES OF TALKED-->
  <div class="features">
  
    <div class="des"><h1>Features</h1></div>
    <hr>
    
     <div class="features-box">
     
      <div class="box">
        <a><i class="fas fa-desktop"></i></a>
        <h3>Share Screen</h3>
        <p>Share a specific application window, chrome tab or your whole screen for your discussions or presentations.</p>
      </div>
      <div class="box">
        <a><i class="	fas fa-chalkboard"></i></a>
        <h3>Whiteboard</h3>
        <p>Have a clear discussions using whiteboard where you can write just like a real whiteboard.</p>
      </div>
      <div class="box">
        <a><i class="fas fa-cloud"></i></a>
        <h3>Wordcloud</h3>
        <p>Know the insights of your students or classmates where the most answered word or phrase will be displayed in a bigger font size.</p>
      </div>
      <div class="box">
        <a><i class="fas fa-record-vinyl"></i></a>
        <h3>Record</h3>
        <p>Record your meetings and download it to playback your discussions.</p>
      </div>
    </div>

    <div class="features-box">
    <div class="box">
      <a><i class="fas fa-comment"></i></a>
      <h3>Chat</h3>
      <p>Communicate and chat your questions or answers in the chat box.</p>
      </div>
      <div class="box">
      <a><i class="fas fa-poll"></i></a>
      <h3>Polls</h3>
      <p>Ask a question and make a poll to make it more interactive.</p>
</div>
<div class="box">
      <a><i  class="fas fa-user-friends"></i></a>
      <h3>Show Participants</h3>
      <p>See all the participants in your meetings.</p>
      </div>
      <div class="box">
      <a><i class="fas fa-share-alt-square"></i></a>
      <h3>File Sharing</h3>
      <p>Share your files in the chat box.</p>

    </div>
  </div>
 <!--FOOTER-->
  <div class="footer">
    <hr>
    
    <div class="foo-box one">
    <h3 class="fooh3"> Contact Us: </h3>
    <a href="https://www.facebook.com/Talked-105634881695380/" class="socialMedia_account" ><i class="fab fa-facebook-square"></i> </a>
	<a href="https://twitter.com/TalkED46466970" class="socialMedia_account"><i class="fab fa-twitter-square"></i></a>
	<a href="https://www.instagram.com/talk.ed_/" class="socialMedia_account"><i class="fab fa-instagram-square"></i></a>
	<a href="mailto:talked.vidcon@gmail.com?subject=<Write subject here>&body=<Write body here>" class="socialMedia_account"><i class="fab fa-google-plus-square"></i></a>
  </div>
    <div class="foo-box">
    <h3 class="bigthanksh3">Big Thanks:</h3><a href="https://www.linkedin.com/in/miroslav-pejic-976a07101/" class="bigthanks">Miroslav Pejic</a>
    </div>
  </div>
</body>
</html>