<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>TalkED - Allow Video or Audio access to join in the Room.</title>
        <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/images/TalkedLogo0.png"
        />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- StyleSheet -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" />
        <link rel="stylesheet" href="../css/landing.css" />

        <!-- Js scripts -->
        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    </head>
    
    <body class="has-animations">
        <div class="body-wrap">
          <header class="site-header reveal-from-top">
            <div class="container">
              <div class="site-header-inner">
                <div class="brand">
                  <h1 class="m-0">
                   <!--<a href="/"
                      ><img src="images/logo.svg" alt="Neon" width="32" height="32"
                    /></a>---> 
                  </h1>
                </div>
              </div>
            </div>
          </header>
          <main class="site-content">
            <section class="hero section">
              <div class="container">
                <div class="hero-inner section-inner">
                  <div class="split-wrap invert-mobile">
                    <div class="split-item">
                      <div
                        class="hero-content split-item-content center-content-mobile"
                      >
                        <h1
                          class="mt-0 mb-16 reveal-from-bottom"
                          data-reveal-delay="150"
                        >
                          Access denied.
                        </h1>
                        <p
                          class="mt-0 mb-32 reveal-from-bottom"
                          data-reveal-delay="300"
                        >
                          This app will not work without camera/microphone access.
                          Please Try again and allow it.
                        </p>
                        <script>
                          var qs = new URLSearchParams(window.location.search);
                          var roomId = qs.get("roomId");
                          console.log("Allow Camera && Audio for roomId", roomId);
                        </script>
                        <div class="reveal-from-bottom" data-reveal-delay="450">
                          <button
                            class="button button-primary button-wide-mobile pulse"
                            style="
                              border: 0;
                              background:  #376df9 ;
                            "
                            onclick="roomId ? window.location.href = '/join/' + roomId : window.location.href = '/join.html';"
                          >
                            Try again
                          </button>
                        </div>
                      </div>
                      <style>
                        @media (min-width: 641px) {
                          .hero .split-wrap .split-item {
                            min-height: 492px;
                          }
                        }
                      </style>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>
    
        </div>
        <script src="../js/landing.js"></script>
    </body>
</html>
